{{- if and .Values.enabled .Values.gateway.enabled }}
apiVersion: networking.istio.io/v1beta1
kind: Gateway
metadata:
  name: {{ .Values.gateway.name }}
  namespace: {{ include "istio-config.namespace" . }}
  labels:
    {{- include "istio-config.labels" . | nindent 4 }}
spec:
  selector:
    {{- toYaml .Values.gateway.selector | nindent 4 }}
  servers:
  - port:
      number: 80
      name: http
      protocol: HTTP
    hosts:
    {{- range .Values.gateway.hosts }}
    - {{ . | quote }}
    {{- end }}
  {{- if .Values.gateway.tls.enabled }}
  - port:
      number: 443
      name: https
      protocol: HTTPS
    tls:
      mode: {{ .Values.gateway.tls.mode }}
      credentialName: {{ .Values.gateway.tls.credentialName }}
    hosts:
    {{- range .Values.gateway.hosts }}
    - {{ . | quote }}
    {{- end }}
  {{- end }}
{{- end }}
