{{- if and .Values.enabled .Values.mtls.enabled }}
apiVersion: security.istio.io/v1beta1
kind: PeerAuthentication
metadata:
  name: default
  namespace: {{ include "istio-config.namespace" . }}
  labels:
    {{- include "istio-config.labels" . | nindent 4 }}
spec:
  mtls:
    mode: {{ .Values.mtls.mode }}
{{- end }}
