go 1.24.0

use (
	./packages/wealist-advanced-go-pkg
	./services/board-service
	./services/chat-service
	./services/noti-service
	./services/ops-service
	./services/storage-service
	./services/user-service
)
