{{- if .Values.otelCollector.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: otel-collector
  namespace: {{ .Values.global.namespace }}
  labels:
    app: otel-collector
spec:
  type: ClusterIP
  ports:
    - name: otlp-grpc
      port: {{ .Values.otelCollector.service.otlpGrpcPort }}
      targetPort: otlp-grpc
      protocol: TCP
    - name: otlp-http
      port: {{ .Values.otelCollector.service.otlpHttpPort }}
      targetPort: otlp-http
      protocol: TCP
    - name: metrics
      port: {{ .Values.otelCollector.service.metricsPort }}
      targetPort: metrics
      protocol: TCP
  selector:
    app: otel-collector
{{- end }}
