{{- if .Values.loki.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: loki
  namespace: {{ .Values.global.namespace }}
  labels:
    app: loki
    app.kubernetes.io/name: loki
    app.kubernetes.io/component: logging
spec:
  type: {{ .Values.loki.service.type }}
  ports:
    - port: {{ .Values.loki.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: 9096
      targetPort: grpc
      protocol: TCP
      name: grpc
  selector:
    app: loki
{{- end }}
