apiVersion: v1
kind: ConfigMap
metadata:
  name: livekit-config
data:
  livekit.yaml: |
    port: 7880
    rtc:
      port_range_start: 50000
      port_range_end: 60000
      tcp_port: 7881
      use_external_ip: false
      node_ip: "127.0.0.1"

    keys:
      devkey: devsecretkey1234567890abcdefghijk

    logging:
      level: info
      json: false

    room:
      empty_timeout: 300
      max_participants: 100

    turn:
      enabled: true
      domain: __API_DOMAIN__
      tls_port: 0
      udp_port: 3478
