apiVersion: v1
kind: Service
metadata:
  name: livekit
  labels:
    app: livekit
spec:
  type: ClusterIP
  ports:
    - port: 7880
      targetPort: 7880
      protocol: TCP
      name: http
    - port: 7881
      targetPort: 7881
      protocol: TCP
      name: rtc-tcp
    - port: 3478
      targetPort: 3478
      protocol: TCP
      name: turn-tcp
    - port: 3478
      targetPort: 3478
      protocol: UDP
      name: turn-udp
  selector:
    app: livekit
---
# NodePort service for external WebRTC access (for production, use LoadBalancer)
apiVersion: v1
kind: Service
metadata:
  name: livekit-external
  labels:
    app: livekit
spec:
  type: NodePort
  ports:
    - port: 7880
      targetPort: 7880
      nodePort: 30880
      protocol: TCP
      name: http
    - port: 7881
      targetPort: 7881
      nodePort: 30881
      protocol: TCP
      name: rtc-tcp
    - port: 3478
      targetPort: 3478
      nodePort: 30478
      protocol: TCP
      name: turn-tcp
    - port: 3478
      targetPort: 3478
      nodePort: 30478
      protocol: UDP
      name: turn-udp
  selector:
    app: livekit
