{{- if .Values.loki.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: loki
  namespace: {{ .Values.global.namespace }}
  labels:
    app: loki
    app.kubernetes.io/name: loki
    app.kubernetes.io/component: logging
{{- end }}
