{{- if .Values.certManager.enabled }}
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: {{ include "cert-manager-config.issuerName" . }}
  labels:
    {{- include "cert-manager-config.labels" . | nindent 4 }}
  annotations:
    # Wait for cert-manager CRDs to be installed first
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "1"
spec:
  acme:
    # ACME server URL
    server: {{ .Values.certManager.issuer.server }}

    # Email address for ACME registration
    email: {{ .Values.certManager.issuer.email }}

    # Name of a secret used to store the ACME account private key
    privateKeySecretRef:
      name: {{ include "cert-manager-config.issuerName" . }}-account-key

    # ACME challenge solvers
    solvers:
      {{- if eq .Values.certManager.solver.type "http01" }}
      # HTTP01 challenge - requires port 80 accessible from internet
      # No AWS credentials needed!
      - http01:
          ingress:
            class: {{ .Values.certManager.solver.http01.ingressClass }}
      {{- else if eq .Values.certManager.solver.type "dns01" }}
      # DNS01 challenge - requires AWS Route53 API access
      - dns01:
          {{- if eq .Values.certManager.solver.dns01.provider "route53" }}
          route53:
            region: {{ .Values.certManager.solver.dns01.route53.region }}
            {{- if .Values.certManager.solver.dns01.route53.hostedZoneID }}
            hostedZoneID: {{ .Values.certManager.solver.dns01.route53.hostedZoneID }}
            {{- end }}
            accessKeyID: {{ .Values.certManager.solver.dns01.route53.accessKeyID }}
            secretAccessKeySecretRef:
              name: {{ include "cert-manager-config.route53SecretName" . }}
              key: secret-access-key
          {{- end }}
      {{- end }}
{{- end }}
