apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kyverno-setup-test
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1"
    argocd.argoproj.io/compare-options: ServerSideDiff=true,IncludeMutationWebhook=true
spec:
  project: default
  source:
    repoURL: https://kyverno.github.io/kyverno/
    chart: kyverno
    targetRevision: 3.6.1
    helm:
      values: |
        config: 
          resourceFilters: # 중요: kube-system 등 핵심 네임스페이스 제외 설정 확인
            - "[*/*,kube-system,*]"
            - "[*/*,kyverno,*]"
        admissionController:
          replicas: 3 # 운영 환경 권장 (HA)
          resources:
            limits:
              memory: 512Mi
            requests:
              cpu: 100m
              memory: 256Mi

        backgroundController:
          replicas: 2 # 부하에 따라 조정

        cleanupController:
          replicas: 2

        reportsController:
          replicas: 2
  destination:
    server: https://kubernetes.default.svc
    namespace: kyverno
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
